<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1><%= "New answer on your board #{@user_board.id} was created." %></h1>
<p>Answer: <%= @answer %> <br>
<p>You can view board on: <a href="<%= @user_board_path %>">this page</a> <br>
</p>
</body>
</html>