<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1><%= "User board #{@user_board.id} was completed at: #{@user_board.completed_at} by #{@admin_email}." %></h1>
</p>
</body>
</html>