<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1><%= "User board #{@user_board.id} was created." %></h1>
<p>Question: <%= @user_board.question %> <br>
<p>You can view board at: <a href="<%= @user_board_path %>">this page</a> <br>
</p>
</body>
</html>