<div class="row clearfix">
  <div class="admin_name">
    <i style="opacity: 0.8;" class="fa fa-check"><%= answer.admin_email %></i>
    <i><p><%= answer.created_at %></p></i>
  </div>
  <div class="answer">
    <p><%= answer.content %></p>
  </div>
</div>