<div class="row clearfix">
  <div class="admin_name">
      <i style="opacity: 0.5;" class="fa fa-check"><%= answer.admin_email %></i>
  </div>

  <div class="answer">
    <p><%= answer.content %></p>
  </div>
</div>