/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$white_opaque: rgba(250, 250, 250, .3);
$dark: #1F7972;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #4CB8C0;
  font-family: 'Lato', sans-serif;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

#notice {
  text-align: center;
  font-size: 0.6em;
  color: $dark;
  font-weight: 100;
}

.container {
  width: 90%;
  background: $white_opaque;
  margin: 3em auto 0 auto;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 4px 3px rgba(0, 0, 0, .3);
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, .03);
  padding: 1em 0;
}

.nested_container {
  width: 85%;
  background: $white_opaque;
  margin: 3em auto 3em auto;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 4px 3px rgba(0, 0, 0, .3);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, .03);
  padding: 1em 0;
}

.user_board_name {
  margin: 0 0 0 0;
  text-align: left;
  font-size: 1.1em;
  color: $dark;
  font-weight: 100;
}

.user_board_email {
  margin: 0 0 3em 0;
  text-align: left;
  font-size: 0.9em;
  color: $dark;
  font-weight: 100;
}

.user_board_question {
  margin: 3em 0 3em 0;
  text-align: left;
  font-size: 0.9em;
  color: $dark;
  font-weight: 100;
}

.user_board_show {
  background: rgba(250, 250, 250, .4);
  outline: none;
  border: none;
  height: 30px;
  border-radius: 4px;
  width: 25%;
  display: inline-block;
  transition: all .4s ease-in-out;
  cursor: pointer;
  &:hover {
    background: $dark;
  }
}

.index_row {
  padding: 2em;
  //border-bottom: 1px solid rgba(250, 250, 250, .3);
  .user_board_email {
    margin-bottom: 0;
  }
}

#answers_wrapper {
  .row {
    width: 100%;
    border-top: 1px solid rgba(250, 250, 250, .3);
    border-bottom: 1px solid rgba(250, 250, 250, .3);
    .admin_name {
      width: 20%;
      float: left;
      border-right: 1px solid rgba(250, 250, 250, .3);
      text-align: center;
      padding: 1em 0;
    }
    .answer {
      width: 80%;
      float: left;
      word-wrap: break-word;
      border-left: 1px solid rgba(250, 250, 250, .3);
      p {
        margin: 0;
        padding: 1em;
        color: $dark;
        font-weight: 100;
      }
    }
    i {
      color: white;
      transition: all .4s ease-in-out;
      &:hover {
        color: $dark;
      }
    }
  }
  #form {
    margin-top: 2em;
    padding: 0 5%;
    input[type="text"] {
      width: 72%;
      margin-right: 2%;
      display: inline-block;
      outline: none;
      background: rgba(250, 250, 250, .4);
      border: none;
      height: 40px;
      border-radius: 4px;
      padding: 1em 2em;
    }
    input[type="submit"] {
      background: rgba(250, 250, 250, .4);
      outline: none;
      border: none;
      height: 40px;
      border-radius: 4px;
      width: 25%;
      display: inline-block;
      transition: all .4s ease-in-out;
      cursor: pointer;
      &:hover {
        background: $dark;
      }
    }
    ::-webkit-input-placeholder {
      color: $dark;
    }
  }
}

.show_links {
  display: block;
  margin: 2em auto 0 auto;
  text-align: left;
  font-size: 1em;
  color: white;
  a {
    color: white;
  }
}

.links {
  display: block;
  margin: .1em .1em .1em 1em;
  text-align: left;
  font-size: 0.8em;
  color: white;
  a {
    color: white;
  }
}

.forms {
  padding: 0 5%;
}

label {
  color: $dark;
  margin: .5em 0 3% 3%;
}

.new_board_field {
  margin: 0 0 0 1em;
}

.new_board_label {
  margin: .5em 0 0% 1.5%;
}

input[type="text"], textarea {
  width: 95%;
  margin: .5em 2% 1em 1em;
  display: inline-block;
  outline: none;
  background: rgba(250, 250, 250, .4);
  border: none;
  height: 40px;
  border-radius: 4px;
  padding: 1em 2em;
}

input[type="email"], textarea {
  width: 94%;
  margin: .5em 2% 3% 3%;
  display: inline-block;
  outline: none;
  background: rgba(250, 250, 250, .4);
  border: none;
  height: 40px;
  border-radius: 4px;
  padding: 1em 2em;
}

input[type="password"], textarea {
  width: 93%;
  margin: .5em 2% 3% 3%;
  display: inline-block;
  outline: none;
  background: rgba(250, 250, 250, .4);
  border: none;
  height: 40px;
  border-radius: 4px;
  padding: 1em 2em;
}

textarea {
  height: 200px;
}

input[type="checkbox"] {
  margin: 0% 0 0 3%;
}

input[type="submit"] {
  margin: .5em 2% 3% 3%;
  background: white;
  outline: none;
  border: none;
  height: 40px;
  border-radius: 4px;
  width: 25%;
  alignment: center;
  display: inline-block;
  transition: all .4s ease-in-out;
  cursor: pointer;
  color: $dark;
  &:hover {
    background: $dark;
    color: white;
  }
}

h2 {
  margin: .5em 2% 3% 3%;
  color: $dark;
}

h3 {
  margin: .5em 2% 3% 3%;
  color: $dark;
}
li {
  color: $dark;
}

.remember {
  margin: 0 0 0 0;
}

input.complete_button {
  background: #009966;
  outline: none;
  border: none;
  height: 40px;
  color: #F7F7F7;
  border-radius: 4px;
  width: 25%;
  display: inline-block;
  transition: all .4s ease-in-out;
  cursor: pointer;
  margin-left: 7em;
  &:hover {
  background: $dark;
}
}

::-webkit-input-placeholder {
  color: $dark;
}

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.eot');
  src: url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.woff') format('woff'), url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-send:before {
  content: "\e171";
}